<!doctype html>
<head>
<title>NYC DOH Inspection Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet type=text/css href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap-tooltip.min.js"></script>
</head>
<body>
<div class="container">
<div class=page>
    <div class="banner row white">
      <div class="jumbotron">
            <div>
                <h1> Browse </h1><br />
            </div>
            <div>
        <div>
            Borough: <select>
            <option value="1">Manhattan</option>
            <option value="2">Brooklyn</option>
            <option value="3">Queens</option>
            <option value="4">The Bronx</option>
            <option value="5">Staten Island</option>
            </select>
            {% for k, c in cuisine_codes.items() %}
            <option value="{{ k }}"> {{ c }}</option>
            {% endfor %}
        </div>
        <div>
            Cuisine: <select>
            <option value="-1">Any</option>
            {% for k, c in cuisine_codes.items() %}
            <option value="{{ k }}"> {{ c }}</option>
            {% endfor %}
            </select>
        </div>
        <a href="/browse" class="btn btn-primary" role="button">Browse</a>
      </div>
    </div>
</div>
</div>
<script>
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
</body>
