<!doctype html>
<head>
<title>NYC DOH Inspection Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet type=text/css href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap-tooltip.min.js"></script>
</head>
<body>
<div class="container">
<div class=page>
    <div class="banner row white">
      <div class="jumbotron">
            <div>
                <h1> Browse </h1><br />
            </div>
            <div>
            <form action="browse" id="browseform" method="POST">
        <div>
                Borough: <select name="boro" form="browseform">
                <option value="Manhattan">Manhattan</option>
                    <option value="Brooklyn">Brooklyn</option>
                    <option value="Queens">Queens</option>
                    <option value="The Bronx">The Bronx</option>
                    <option value="Staten Island">Staten Island</option>
                </select>
                {% for k, c in cuisine_codes.items() %}
                    <option value="{{ k }}"> {{ c }}</option>
                {% endfor %}
        </div>
        <div>
            Cuisine: <select name="cuisine" form="browseform">
            <option value="-1">Any</option>
            {% for k, c in cuisine_codes.items() %}
            <option value="{{ k }}"> {{ c }}</option>
            {% endfor %}
            </select>
        </div>
        <input type="submit" class="btn btn-primary" role="button" name="Browse" />
            </ form>
      </div>
    </div>
</div>
</div>
<script>
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
</body>
