<!doctype html>
<title>NYC DOH Inspection Data</title>
<link rel=stylesheet type=text/css href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<div class=page>
  {% block body %}
  <h1>Summary for {{ kind }}</h1>
  <div class=metanav>
  {% if zipcode %}
      <div>Showing data for {{ zipcode }}</div>
  {% else %}
  {% endif %}
  </div>
  <div class="container">
  <div class="col-md-8">
  <table class="table table-striped">
      <tr><th>DBA</th><th>Grade</th><th>Date</th></tr>
  {% for item in data %}
      {% if item['_id']['grade']  %}
          <tr>
              <td>{{ item['_id']['dba']}}</td>
              <td>{{ item['_id']['grade'] }}</td>
              <td>{{ item['RECORDDATE'].date() }}</td>
          </tr>
      {% endif %}
  {% endfor %}
  </table>
  </div>
  </div>
  {% endblock %}
</div>
