<!doctype html>
<head>
<title>NYC DOH Inspection Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet type=text/css href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap-tooltip.min.js"></script>
</head>
<body>
<div class="container">
<div class=page>
    <div class="banner row white">
      <div class="jumbotron">
            <div>
                <h1> Should I eat here? </h1><br />
            </div>
        <form action="/search" method="POST" class="form-inline">
            <div class="form-group">
            <input type="search" name="q" data-toggle="tooltip" title="Enter a Zipcode or Phone Number" data-placement="bottom" class="form-control">
            <input type="submit" class="btn btn-primary btn-lg" role="button" value="Search" name="submit">
            <a href="/browse" class="btn btn-primary btn-lg" role="button">Browse</a>
            </div>
        </form>
      </div>
    </div>
</div>
</div>
<script>
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
</body>
