<!doctype html>
<head>
<title>NYC DOH Inspection Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet type=text/css href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<div class=page>
    <div class="banner row white">
      <div class="jumbotron">
        <form>
            <strong>Should I eat here? </strong><br />
            <input type="text"> <br />
            <input type="submit" value="Search">
        </form>
      </div>
    </div>
</div>
</div>
</body>
