<!doctype html>
<head>
<title>NYC DOH Inspection Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet type=text/css href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap-tooltip.min.js"></script>
</head>
<body>
<div class="container">
<div class=page>
    <div class="banner row white">
      <div class="jumbotron">
            <div>
                <h3>{{ restaurant.dba }}</h3><br />
            </div>
            <div>
                <strong>Inspection Date:</strong> {{ restaurant.inspection_date.date() }}
            <div>
                <strong>Grade:</strong> {{ restaurant.grade }}
           </div>
            <div>
                <strong>Score:</strong> {{ restaurant.score }}
           </div>
            <div>
                <strong>Cuisine:</strong> {{ restaurant.cuisine }}
           </div>
            <div>
                <strong>Address:</strong> {{ restaurant.building }} {{restaurant.street}} {{restaurant.boro }} {{restaurant.zipcode}}
           </div>
            <div>
                <strong>Violations:</strong> 
                <ul>
                {% for v in restaurant.violations %}
                    <li> {{ v }} </li>
                {% endfor %}
                <br />
                </ul>
           </div>
           </div>
      </div>
    </div>
</div>
</div>
<script>
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
</body>
