<!doctype html>
<head>
<title>NYC DOH Inspection Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet type=text/css href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap-tooltip.min.js"></script>
</head>
<body>
<div class="container">
<div class=page>
    <div class="banner row white">
      <div class="jumbotron">
            <div>
                {% if not cuisine %}
                   <h1> Summary for {{ boro }} </h1><br />
                {% else %}
                   <h1> Summary for {{ cuisine }} in {{ boro }} </h1><br />
                {% endif %}

          <div><strong>Average Score:</strong> {{ data.SCORE.mean() }} </div>
          <div><strong>Total Establishments:</strong> {{ data.CAMIS.count() }} </div>
          <div><strong>'A' Count:</strong> {{ data.CURRENTGRADE[data.CURRENTGRADE == 'A'].count() }}</div>
          <div><strong>'B' Count:</strong> {{ data.CURRENTGRADE[data.CURRENTGRADE == 'B'].count() }}</div>
          <div><strong>'C' Count:</strong> {{ data.CURRENTGRADE[data.CURRENTGRADE == 'C'].count() }}</div>
          <div><strong>'Pending' Count:</strong> {{ data.CURRENTGRADE[data.CURRENTGRADE == 'Z'].count() }}</div>
          <div><br />
          <table class="table-striped table-bordered table table-condensed">
              <thead>
                <tr><th>Name</th><th>Count</th></tr>
              </thead>
              <tbody>
                  {% for name, count in violations %}
                      <tr><td>{{ name }}</td><td>{{ count }}</td?</tr>
                  {% endfor %}
              </tbody>
          </table>
          </div>

            </div>
      </div>
    </div>

</div>
</div>
<script>
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
</body>
